<option value="">select a color..</option>
<option value="Agave">Agave</option>
<option value="Amazonas">Amazonas</option>
<option value="Anthrazit">Anthrazit</option>
<option value="Arktisblau">Arktisblau</option>
<option value="Atlantik">Atlantik</option>
<option value="Baikal">Baikal</option>
<option value="Bristol">Bristol</option>
<option value="Caribe">Caribe</option>
<option value="Chamonix">Chamonix</option>
<option value="Colorado">Colorado</option>
<option value="Condorgelb">Condorgelb</option>
<option value="Ceylon">Ceylon</option>
<option value="Derby">Derby</option>
<option value="Fjord">Fjord</option>
<option value="Florida">Florida</option>
<option value="Golf">Golf</option>
<option value="Granada">Granada</option>
<option value="Granatrot">Granatrot</option>
<option value="Inka">Inka</option>
<option value="Jadegr&uuml;n">Jadegr&uuml;n</option>
<option value="Korall">Korall</option>
<option value="Madeira">Madeira</option>
<option value="Malaga">Malaga</option>
<option value="Manila">Manila</option>
<option value="Mintgr&uuml;n">Mintgr&uuml;n</option>
<option value="Nevada">Nevada</option>
<option value="Pacific">Pacific</option>
<option value="Pastellblau">Pastellblau</option>
<option value="Ph&ouml;nix">Ph&ouml;nix</option>
<option value="Polaris">Polaris</option>
<option value="Resedagr&uuml;n">Resedagr&uuml;n</option>
<option value="Riviera">Riviera</option>
<option value="Rubinrot">Rubinrot</option>
<option value="Sahara">Sahara</option>
<option value="Schwarz">Schwarz</option>
<option value="Siennabraun">Siennabraun</option>
<option value="Sierrabeige">Sierrabeige</option>
<option value="Taiga">Taiga</option>
<option value="Tampico">Tampico</option>
<option value="Topasbraun">Topasbraun</option>
<option value="Tundra">Tundra</option>
<option value="Turf">Turf</option>
<option value="T&uuml;rkis">T&uuml;rkis</option>
<option value="Verona">Verona</option>
<option value="Other">Other</option>
