/***************************************************************************************************
 * Main
 **************************************************************************************************/

body, html {
  margin: 0;
  padding: 0;
}

body {
}

/**
 * Navbar
 */
#navbar {
  color: #fff;
  background-color: #000;
  border-bottom: 2px solid #ccc;
  padding: 2px;
  text-align: left;
}

#navbar a {
  color: #fff;
}

#navbar .app_menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#navbar ul.stats {
  float: right;
}

#navbar ul {
  display: inline;
}

#navbar ul li {
  display: inline-block;
  padding: 5px;
}

/**
 * Content
 */
#container {
  width: 80%;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

#container #content {
  padding: 10px 0;
}

/**
 * Footer
 */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #666;
  border-top: 2px solid #ccc;
}

/**
 * Section
 */
#content .section {
  padding: 5px 0;
}

#content .section h2 {
  font-size: 12pt;
  font-weight: bold;
}

/**
 * Form fields
 */

.field {
  padding: 3px 0;
}

.field label {
  width: 120px;
  display: inline-block;
}

.field input {
  font-size: 10pt;
  background: #eee;
  border: 1px solid #999999;
  padding: 5px;
}

/**
 * Flash bar
 */
.flash {
  margin: 0px 0px 10px 0px;
  padding: 5px;
}

.flash.notice {
  background-color: #ccffbb;
  border: 1px solid green;
}

.flash.error {
  background-color: pink;
  border: 1px solid red;
}

.button.close {
  float: right;
  padding-right: 5px;
  cursor: pointer;
}

.button.close:hover {
  color: red;
}


/**
 * Dialog
 */

.dialog {
  width: 450px;
  padding: 10px;
  background: #eee;
  -moz-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  text-align: left;
  z-index: 200;
}

.dialog_mask {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.dialog .close {
  width: 15px;
  height: 15px;
  background: #FFF url(/images/icons/release-zoom-x-close.png) 5px 6px no-repeat;
  -moz-border-radius-bottomleft: 3px;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 3px;
  cursor: pointer;
}

/**
 * Misc.
 */

.border {
  border: 1px dashed #ccc;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.left_text {
  text-align: left;
}

.inline_block {
  display: inline-block;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.error {
  background-color: pink;
}

.italic {
  font-style: italic;
}

/***************************************************************************************************
 * User
 **************************************************************************************************/

/**
 * Show
 */

.showuser {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.section.user {
  float: left;
  width: 300px;
}

.section.cars {
  float: right;
  width: 300px;
}

.user .image {
  display: block;
}

.user .name {
  display: block;
}

.user .email {
  display: block;
}

.user .address1 {
  display: block;
}

.user .address2 {
  display: block;
}

.showuser .car {
  text-align: left;
  padding: 5px;
}

/**
 * Edit
 */

.section .edituser {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/**
 * New
 */

.section .newuser {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.section .newuser p {
  width: 400px;
  padding: 5px 0;
}

/***************************************************************************************************
 * Car
 **************************************************************************************************/

.car + .car {
  border-top: 1px dashed #ddd;
}

.car .image {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.car .vin {
  display: block;
  font-size: 11pt;
  font-weight: bold;
}

.car .year {
}

.car .color {
  display: block;
}

.car .model {
}

/**
 * Cars show
 */
.section.carshow {
  display: inline-block;
}

.section.carshow .image {
  float: left;
  display: inline-block;
}

.section.carshow .description {
  float: right;
  padding: 10px 20px;
}


/**
 * Cars index
 */
.section.carsindex .car {
  padding: 5px 0;
}

.section.carsindex .vin {
  display: inline;
}

.section.carsindex .year {
  display: inline;
}

.section.carsindex .color {
  display: inline;
}

.section.carsindex .model {
  display: inline;
}

/**
 * Cars new
 */

.section.newcar {
}

.section.newcar h3 {
  padding: 5px;
}

.section.newcar .field {
}

