<div class="section">
  <h2>Change your password</h2>
  <% form_for current_user, :url => update_password_user_path(current_user),
                            :html => { :multipart => true} do |f| %>
    <div class="field">
      <%= f.label :old_password, "Old Password" %>
      <input type="password" name="old_password" />
    </div>
    <div class="field">
      <%= f.label :new_password, "New Password" %>
      <input type="password" name="new_password" />
    </div>
    <div class="field">
      <%= f.label :new_password, "Confirm New Password" %>
      <input type="password" name="new_password_confirm" />
    </div>
    <div class="field">
      <%= f.submit "Change password", :class => "round" %>
    </div>
  <% end %>
</div>

