<h2>Welcome to the BMW '02 Series Registry</h2>
<div class="copy">
  <p>
    Welcome to the Registry database, where you can view cars and photos already stored, 
    setup your own account to store more 2002s and photos for others to see. We are growing daily!
  </p>
  <p>
    Thankfully, our site has been featured in the Roundel, Bimmer and Hemmings Sports &amp; Exotic 
    Cars magazines.  We appreciate all the press... the 2002 world is becoming a bigger place.
  </p>
</div>
