<table cellpadding="5" cellspacing="0">
  <tr>
    <td colspan="2" style="text-align: center">
      <span class="pageTitle">The BMW '02 Series Registry Database</span>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top">  
      <p>
        Welcome to the Registry database, where you can view cars and photos already stored, 
        setup your own account to store more 2002s and photos for others to see. We are growing daily!
      </p>
      <p>
        Thankfully, our site has been featured in the Roundel, Bimmer and Hemmings Sports &amp; Exotic 
        Cars magazines.  We appreciate all the press... the 2002 world is becoming a bigger place.
      </p>
    </td>
    <td style="vertical-align: top">
      <p>
        <%= image_tag("temp_shot.jpg",
                      :alt => "A BMW 2002",
                      :width => 300,
                      :class => "border")
        %>
      </p>
    </td>
  </tr>
</table>
<p>
  The mission of the 2002 Registry Database is to maintain an internet accessible database of 
  known cars around the world. We have information on 2,031  '02 series cars that have been 
  supplied by the registered users of our database from practically every continent around the world.
</p>
<p>
  We appreciate the time you take to include your cars whether they are still around or not. 
  Many people's fondest memories of driving a great car like this may be the one you now have
  in your possession!
</p>

