<div class="section">
  <h2>Update your profile picture</h2>
  <div class="field">
    <%= image_tag current_user.avatar.url(:thumb) %>
  </div>

  <% form_for current_user, :url => update_image_user_path, :html => { :multipart => true} do |f| %>
    <div class="field">
      <%= f.file_field :avatar, :size => 16 %>
    </div>
    <div class="field">
      <%= f.submit "Update Picture", :class => "round update_avatar_user" %>
    </div>
  <% end %>
</div>
