<div class="section">
  <h2>Register a car</h2>
  <div class="current-step" rel="1" />
  <div class="step_1">
    <h3>VIN Lookup</h3>
    <div class="field">
      <input type="text" class="vin-textbox" size="7" />
      <input type="button" value="Submit Vin" class="next-step-button round" />
    </div>
  </div>
  <div class="step_2 hidden">
    <h3>Car Information</h3>
    <div class="field">
      <label>Model Name:</label>
      <span class="model-name-entry hard-value"></span>
    </div>
    <div class="field">
      <label>Model Number:</label>
      <span class="model-number-entry hard-value"></span>
    </div>
    <div class="field">
      <label>Year</label>
      <input type="text" class="year-textbox" size="4" />
      <input type="button" value="Guess Year" class="guess-year-button round" />
    </div>
    <div class="field">
      <label>Color</label>
      <select name="color">
        <%= render "layouts/coloroptions" %>
      </select>
    </div>
    <div class="field">
      <label>Is Alive?</label>
      <input type="checkbox" name="is_alive" checked="checked" />
    </div>
    <div class="field">
      <input type="button" value="Continue" class="next-step-button round" />
    </div>
  </div>
  <div class="step_3 hidden">
    <h3>Car Location</h3>
    <!-- Location settings here! -->
    <div class="field">
      <input type="button" value="Continue" class="next-step-button round" />
    </div>
  </div>
  <div class="step_4 hidden">
    <h3>Picture Upload</h3>
    <!-- Picture Upload Here! -->
    <div class="field">
      <input type="button" value="Continue" class="next-step-button round" />
    </div>
  </div>
</div>

<script type="text/javascript">
  (function($) {

    $.fn.nextStep = function() {
      // Determine what step to do next.
      var curStep = $(".current-step").attr("rel");
      switch (curStep) {
        case "1":      
          // XXX Do something load-ey.
          $.get("/vins/" + $(".vin-textbox").val(), function(data) {
            if (data["success"]) {
              $(".step_1").addClass("hidden");
              $(".step_2").removeClass("hidden");
              $(".current-step").attr("rel", "2");

              var model = data.result.model;
              $(".model-name-entry").html(model.name);
              $(".model-number-entry").html(model.number)
            }
            else {
              // XXX Do something with errors here.
            }
          });

          break;

        case "2":
          // Validate form data?
          $(".step_2").addClass("hidden");
          $(".step_3").removeClass("hidden");
          $(".current-step").attr("rel", "3");
          break;

        case "3":
          $(".step_3").addClass("hidden");
          $(".step_4").removeClass("hidden");
          $(".current-step").attr("rel", "4");
          break;

        case "4":
          // Uhoh! Need to finally submit the form data!
          
        default:
          alert("Something went wrong!");
      }
    },

    $(".next-step-button").click(function() {
      $(this).nextStep();
    });

    $(".guess-year-button").click(function() {
      $.get("/vins/" + $(".vin-textbox").val() + "/guess_year", function(data) {
        if (data["success"]) {
          $(".year-textbox").val(data.year);
        }
        else {
          // XXX Do something with errors here.
        }
      });
    });
  })(jQuery);
</script>

<style type="text/css">

  .hidden {
    display: none;
  }

</style>
